.add_post form {
  background: rgba(206, 236, 243, 0.719);
  height: 30%;
}

.add_post input {
  font-size: 25px;
  width: 99%;
  background: rgba(206, 236, 243, 0.719);
}
.add_post textarea {
  font-size: 20px;
  width: 99%;
  height: 10vh;
  background: rgba(206, 236, 243, 0.719);
}
.add_post label {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: solid grey 2px;
}

.add_post select {
  font-size: 20px;
}

.add_post button {
  padding: 9px;
  font-weight: bold;
}
