.nav-bar {
  background: rgb(44, 147, 179);
  display: flex;
  padding: 25px;
  font-family: sans-serif;
  color: white;
  align-content: space-between;
}

.navbar-links {
  display: flex;
  align-content: space-between;
}

.nav-bar ul {
  display: flex;
  color: white;
  text-decoration: none;
  margin-left: 250px;
}
.nav-bar li {
  display: flex;
  margin-left: auto;
}
.nav-bar a {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  padding-right: 15px;
}

.navbar-left {
  display: flex;
  margin-left: auto;
}
