.container {
  border: solid black 3px;
  height: 100vh;
  width: 50%;
  background: lavenderblush;
}
.messages {
  border: solid purple 2px;
}

button {
  background: lightgreen;
  border-radius: 10px;
}
