.container {
  height: 30vh;
  /* width: 50%; */
  background: rgb(200, 225, 231);
}
.messages {
  background: rgba(204, 226, 231, 0.87);
  font-size: 25px;
}

.container button {
  border-radius: 10px;
  background: lightgreen;
}

.chat-foot {
  display: flex;
  justify-content: center;
}

.chat-foot input {
  font-size: 25px;
  text-align: center;
}

.card-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
